.forgotPass {
    background-color: #bad893;
    height: 100vh;
    width: 100%;
    padding: 10px;
}
  
.forgotPass .title {
    color: #045c5a;
    text-align: center;
    font-size: 4vw;
}

.forgotPass .form-container {
    text-align: center;
}

.forgotPass .email {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.forgotPass .email-input {
    width: 30vw; 
    font-size: 2.5vw;  
    padding: 1vh; 
    margin: 1vh;
    border: 2px solid #ccc;  
    border-radius: 5px;  
}

.forgotPass .image {
    width: 4vw;
    margin-right: 1vw;
    margin-left: 1vw;
}

.forgotPass .back {
    text-align: center;
}

.forgotPass .button {
    background-color: #2e856e;
    color: white;
    border: none;
    padding: 1vh;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2vw;
    font-family: 'Abhaya Libre';
}

.forgotPass .retrieve-button {
    background-color: #2e856e;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2vw;
    font-family: 'Abhaya Libre';
    text-align: center;
    width: 20vw;
}