.internship-req-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
  /* th, td{
    border: 1px solid;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }

  th, td:first-child{
    background-color: #188D0E;
    color: #ffffff;
  }
}
  
  .internship-req-page .internshipreq-div {
    background-color: #ffffff;
    border: 5px solid black;
    height: 25vh;
    width: 100%;
  }
  
  .internship-req-page .overlap-group {
    background-color: #bad893;
    display: flex;
    border: 5px solid black;
    height: 25vh;
    width: 100%;
  }
  
  .internship-req-page .text-wrapper {
    color: #000000;
    font-family: "Abhaya Libre-Bold", Helvetica;
    font-size: 4vw;
    font-weight: 700;
    padding-top: 70px;
    text-align: center;
    width: 100%;
  }
  
  .internship-req-page .logo {
    height: 300px;
    position: absolute;
    width: 230px;
  }
  
  .internship-req-page .selected-major-MAJOR {
    color: #000000;
    font-family: "Source Sans Pro-SemiBold", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 581px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 262px;
    width: 757px;
  }
  
  .internship-req-page .span {
    font-weight: 600;
  }
  
  .internship-req-page .text-wrapper-2 {
    font-family: "Source Sans Pro-Bold", Helvetica;
    font-weight: 700;
  }
  
  .internship-req-page .text-wrapper-3 {
    color: #000000;
    font-family: "Source Sans Pro-SemiBold", Helvetica;
    font-size: 36px;
    font-weight: 600;
    left: 100px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 422px;
    width: 100%;
  }

  .internship-req-page .table{
    color: #000000;
    font-family: "Source Sans Pro-SemiBold", Helvetica;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    left: 100px;
    top: 510px;
    width: 100%;
  }

  
  
  .internship-req-page .text-wrapper-4 {
    color: #000000;
    font-family: "Source Sans Pro-SemiBold", Helvetica;
    font-size: 36px;
    font-weight: 600;
    left: 100px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 709px;
    width: 757px;
  }
  
  .internship-req-page .text-wrapper-5 {
    color: #bad893;
    font-family: "Source Sans Pro-SemiBold", Helvetica;
    font-size: 36px;
    font-weight: 600;
    left: 100px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 758px;
    width: 757px;
  }
  
  .internship-req-page .text-wrapper-6 {
    color: #bad893;
    font-family: "Source Sans Pro-SemiBold", Helvetica;
    font-size: 36px;
    font-weight: 600;
    left: 100px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 807px;
    width: 757px;
  }
  
  .internship-req-page .text-wrapper-7 {
    color: #bad893;
    font-family: "Source Sans Pro-SemiBold", Helvetica;
    font-size: 36px;
    font-weight: 600;
    left: 100px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 856px;
    width: 757px;
  }
  
  .internship-req-page .back-button {
    all: unset;
    box-sizing: border-box;
    height: 90px;
    left: 792px;
    position: absolute;
    top: 980px;
    width: 338px;
  }
  
  .internship-req-page .overlap {
    height: 90px;
    position: relative;
    width: 336px;
  }
  
  .internship-req-page .rectangle {
    background-color: #045c5a;
    border-radius: 50px;
    height: 84px;
    left: 9px;
    position: absolute;
    top: 0;
    width: 319px;
  }
  
  .internship-req-page .text-wrapper-8 {
    color: #bad893;
    font-family: "Source Sans Pro-Bold", Helvetica;
    font-size: 48px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 336px;
  }

  /* .internship-req-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .internship-req-page .internshipreq-div {
    background-color: #bad893;
    border: 5px solid black;
    height: 25vh;
    width: 100%;
  }
  
  .internship-req-page .big-title {
    color: #000000;
    font-family: Helvetica;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
  }

  .internship-req-page h2 {
    width: 100%;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
  }
  
  .internship-req-page .kingologo {
    align-items: left;
  } */