.login {
  background-color: #bad893;
  height: 100%;
  width: 100%;
}

.login .form-container {
  text-align: center;
}

.login .title {
  color: #045c5a;
  text-align: center;
  font-size: 50px;
}

.login .image {
  width: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.login .password {
  margin-bottom: 10px;
}

.login .password-input {
  width: 30px;
}

.login .forgot-password {
  color: #2e856e;
  font-size:12px;
  font-family: 'Abhaya Libre';
  text-align: center;
}

.login .forgot-password:hover {
  text-decoration: underline;
}

.login .button {
  background-color: #2e856e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Abhaya Libre';
}

.login .login {
  text-align: center;
  
}

.login .login-button {
  background-color: #2e856e;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Abhaya Libre';
  text-align: center;
  width: 200px;
}
